@{
    ViewData["Title"] = "Home Page";
}
@*
<body ng-app="myApp" ng-controller="HomeController">
    <div class="container">
        <h1 class="mt-4">{{ message }}</h1>
        <ul class="list-group mt-4">
            <li class="list-group-item" ng-repeat="item in items">{{ item.name }}</li>
        </ul>
        <div class="input-group mt-3">
            <input type="text" class="form-control" ng-model="newItem" placeholder="Enter new item" />
            <button class="btn btn-primary" ng-click="addItem()">Add Item</button>
        </div>
    </div>
</body> *@


<body ng-app="myApp" ng-controller="HomeController">
    <div class="container">
        <h1>{{ message }}</h1>

        <h2>Items List</h2>
        <ul>

            <li ng-repeat="item in items">
                {{ item.name }}
            </li>
        </ul>

        <h3>Add New Item</h3>
        <input type="text" ng-model="newItem" placeholder="Enter new item">
        <button ng-click="addItem()">Add Item</button>
    </div>
</body>